.main {
  background-image: url(../img/circle.png);
  background-position: top -150px right -120px;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 94px;
  position: relative;
}
.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;
}
.main-copy {
  text-align: left;
}
.main-copy h2 {
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}
.main-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}
.main-img {
  position: absolute;
  right: 15%;
  top: 20%;
  z-index: 1000;
}

.feature-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.feature-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  margin-top: 20px;
}
.feature-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.feature-heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 64px;
}
.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 93px;
}
.feature-box h3 {
  font-size: 24px;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 54px;
}
.feature-box p {
  line-height: 1.5;
  font-weight: bold;
}

.price {
  background-color: #eefbfb;
  padding: 64px 20px 128px;
}
.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.price-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.price-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  margin-top: 20px;
}
.price table {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-collapse: collapse;
}
.price table th {
  width: 30%;
  padding: 30px;
  min-width: 300px;
  border: 1px solid #f0eded;
}
.price table td {
  width: 70%;
  text-align: left;
  padding: 30px;
  border: 1px solid #f0eded;
  font-weight: bold;
}

.contact {
  background: linear-gradient(to right, #05a5fa, #63fbd7);
  padding: 40px 20px;
  color: #fff;
  text-align: center;
}
.contact-ttl {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}
.contact-ttl span {
  font-size: 16px;
  display: block;
  margin-top: 20px;
}
.contact p {
  margin-bottom: 44px;
  line-height: 1.8;
}
.contact .center {
  margin-left: auto;
  margin-right: auto;
}